{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": { "node": true },
  "plugins": ["@typescript-eslint", "perfectionist"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:perfectionist/recommended-natural",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", {"args": "none"}],
    "@typescript-eslint/ban-ts-comment": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
    "perfectionist/sort-imports": [
      "error",
      {
        "groups": [
          ["parent", "parent-type"],
          ["sibling", "sibling-type"],
          ["index", "index-type"],
          ["external", "external-type"],
          ["external-lightweight", "external-light-weight-type"],
          ["internal", "internal-type"],
          ["builtin", "builtin-type"]
        ],
        "custom-groups": {
          "value": {
            "external-lightweight": ["option-t/**/*"]
          },
          "type": {
            "external-lightweight-type": ["option-t/**/*"]
          }
        },
        "read-tsconfig": true
      }
    ],
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-objects": "off",
    "perfectionist/sort-interfaces": "off",
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      { "prefer": "type-imports" }
    ]
  }
}
